/* JS Script for Slideshow
Remember to add the classes .slider-container and .slide to the html */

.slider-container {
    position: relative;
    width: 97%;
    /* margin: auto; */
    overflow: hidden;
    height: 480px;
    box-sizing: border-box;
}

.slide {
    width: 100%;
    height: 100%;
    position: absolute;
    opacity: 0;
    transform: translate(-100%);
    transition: transform 0.6s ease-in-out, opacity 0.6s ease-in-out;
}

.slide.active {
    opacity: 1;
    transform: translateX(0);
}
.slider-prev, .slider-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: #1c0a228a;
    color: gold;
    border: none;
    padding: 15px;
    cursor: pointer;
    font-size: 24px;

}

.slider-prev {
    left: 10px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.slider-next {
    right: 10px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

@media screen and (max-width: 500px){
    .slider-container{
        height: 300px;
    }
}